#infoContainer{ padding:20px 20px 0 20px }
#infoTitle{ color:#b41019; font-size:140%; text-align:center; text-shadow:1px 1px 2px #999; margin:0 60px 10px 0 }
#pagetitle{ width:100%; margin:15px 0; color:#b41019; font-size:140%; text-align:center; text-shadow:1px 1px 2px #999 }

.aref:link{ font-style:italic; color:#005789; text-decoration:none }
.aref:visited{ font-style:italic; color:#005789; text-decoration:none }
.aref:active{ font-style:italic; color:#b41019; text-decoration:underline }
.aref:hover{ font-style:italic; color:#b41019; text-decoration:underline }
.arefLicence:link{ color:#b41019 }
.arefLicence:visited{ color:#b41019 }
.arefLicence:active{ color:#005789 }
.arefLicence:hover{ color:#005789 }
.infoBreak{ height:10px }
.infoEqu{ color:#002E47; text-align:center; padding:10px 40px 10px 40px }
.infoHead{ font-family:"Times New Roman", Georgia, Serif; color:#b41019; font-size:140%; text-shadow:1px 1px 1px #AAA; padding: 30px 0 0 10px }
.infoText{ font-family:"Times New Roman", Georgia, Serif; color:#005789; font-size:120%; padding:10px 40px 10px 40px }
