#controls{ width:770px; float:left; margin:10px 0 0 25px; font-size:85% }
#ErrorMSG{ width:1280px; margin:0 auto; color:#b41019; background-color:#ddd }
#footer { width:420px; float:left; margin:0 0 0 10px; font-size:85%; color:#aaa }
#graph{ float:left; margin:0 0 10px 10px } /* set width & height in html */
#main{ width:1280px; margin:0 auto; background-color:#fff; border:1px solid #ccc; box-shadow:5px 5px 5px #999; border-radius:5px }
#mapid{ float:left; margin:10px 20px 20px 20px; border:5px solid #ccc; box-shadow:3px 3px 3px #999; border-radius:5px } /* set width & height in html */
#spacer{ width:420px; height:2px; float:left; margin-left:10px }

.logo{ width:200px; margin:2px 20px; vertical-align:middle }
.slidercontrols{ width:420px; height:32px; float:left; margin:10px 0 10px 10px }
